<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Address List</title>
</head>
<body>
  <h1>Addresses for Business ID:<%= addresses[0].business_id %></h1>
  <ul>
    <% addresses.forEach(address => { %>
    <li>
      <p>Street Name: <%= address.street_name %></p>
      <p>Street Number: <%= address.street_number %></p>
      <p>City: <%= address.city %></p>
    </li>
  <% }) %>
  </ul>
</body>
</html>