<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Food Items List</title>
</head>

<body>
  <h1>Food Items for Business ID: <%= businessId %>
  </h1>
  <ul>
    <% foodItems.forEach(item=> { %>
      <li>
        <h2>
          <%= item.name %>
        </h2>
        <p>
          <%= item.description %>
        </p>
        <p>Price:<%= item.price %>
        </p>
      </li>
      <% }) %>
  </ul>
</body>

</html>