<!DOCTYPE html>
<html lang="en">

<head>
  <title>Menu Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/menu.js"></script>
</head>

<body>
  <h1>Menu</h1>

  <div clas="container">
    <div id="items-container"></div>
    
    <!-- <button id="item-input">Add Item</button> -->
    <div id="cart-container"></div>
  </div>
  <div id="order-summary"></div>
  <button id="place-order">Place Order</button>

</body>

</html>