$bg-img-path: "../images/background-05op.png";
$green: #006030;
$red: #cd212a;
$white: #d2d2d2;

.menu-container {
  background: url($bg-img-path) no-repeat center center / cover;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;

  padding: 5rem;
}

#cart {
  background: red;
}

.motto {
  width: 60%;
  padding: 2rem;
  //   align-items: ;
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem 0;
  //   text-align: center;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cta {
  padding: 2rem;
  width: 40%;
}
//BUTTON 2
.second {
  border-radius: 3em;
  border-color: $green;
  color: $white;
  background: {
    image: linear-gradient(
      to right,
      transparentize($green, 0.4),
      transparentize($green, 0.4) 5%,
      $green 5%,
      $green 10%,
      transparentize($green, 0.4) 10%,
      transparentize($green, 0.4) 15%,
      $green 15%,
      $green 20%,
      transparentize($green, 0.4) 20%,
      transparentize($green, 0.4) 25%,
      $green 25%,
      $green 30%,
      transparentize($green, 0.4) 30%,
      transparentize($green, 0.4) 35%,
      $green 35%,
      $green 40%,
      transparentize($green, 0.4) 40%,
      transparentize($green, 0.4) 45%,
      $green 45%,
      $green 50%,
      transparentize($green, 0.4) 50%,
      transparentize($green, 0.4) 55%,
      $green 55%,
      $green 60%,
      transparentize($green, 0.4) 60%,
      transparentize($green, 0.4) 65%,
      $green 65%,
      $green 70%,
      transparentize($green, 0.4) 70%,
      transparentize($green, 0.4) 75%,
      $green 75%,
      $green 80%,
      transparentize($green, 0.4) 80%,
      transparentize($green, 0.4) 85%,
      $green 85%,
      $green 90%,
      transparentize($green, 0.4) 90%,
      transparentize($green, 0.4) 95%,
      $green 95%,
      $green 100%
    );
    position: 0 0;
    size: 100%;
  }
  transition: background 300ms ease-in-out;

  &:hover {
    background-position: 100px;
  }
}
.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid $green;
  border-radius: 0.6em;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;

  &:hover,
  &:focus {
    color: #d2d2d2;
    outline: 0;
  }
}
